@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
}

* {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  @apply font-nunitosans bg-blackGray;
}

#second-demo-image {
  clip-path: polygon(0 0, 50% 0, 50% 67.6%, 0 67.6%);
}

/* Global Container */
.box-container {
  @apply container mx-auto max-w-[1230px] px-4 sm:px-7 md:px-5;
}

/* Show Demo Button */
@media (min-width: 460px) {
  .show-demo-btn {
    @apply flex-row space-x-2 space-y-0;
  }
}

/* Featrue Box Container */
.feature-box {
  @apply text-white bg-darkGray border-b-2 border-[#2D2D2D] duration-700 transition-all hover:bg-darkGrayLight hover:border-[#3A3A3A];
}

/* Border Line */
.line-through {
  @apply border-b border-darkGrayLight;
}

/* Checkmark */
.tick {
  @apply relative inline-block w-5 h-5 rounded-full;
}

.tick::before {
  display: block;
  content: '';
  position: absolute;
  left: 45%;
  top: 45%;
  height: 25%;
  width: 0.1rem;
  transform: translateX(-50%) rotate(-45deg);
  transform-origin: left bottom;
  @apply bg-darkGrayLight;
}

.tick::after {
  display: block;
  content: '';
  position: absolute;
  left: 40%;
  top: 35%;
  height: 45%;
  width: 0.1rem;
  transform: translate(-50%, -0.2rem) rotate(45deg);
  transform-origin: left bottom;
  @apply bg-darkGrayLight;
}

/* Footer*/
.dot {
  @apply inline-block w-[3px] h-[3px] bg-zinc-400;
}

.ficon {
  filter: invert(53%) sepia(68%) saturate(0%) hue-rotate(10deg) brightness(60%)
    contrast(94%);
}

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background: #fff;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-top,
.hamburger-bottom {
  width: 12px;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px) translateX(12px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  width: 18px;
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  width: 18px;
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* Media Queries */
@media (min-width: 768px) {
  body {
    overflow-y: visible !important;
  }

  .first-box-margin {
    margin-bottom: 3.5rem;
  }
}

@media (min-width: 834px) {
  .first-box-margin {
    margin-bottom: 4.7rem;
  }
}

@media (min-width: 1100px) {
  .first-box-margin {
    margin-bottom: 3.5rem;
  }
}

::selection {
  background: #eda217;
  color: #fff;
}
