@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  @apply font-nunitosans bg-blackGray;
}

@media (min-width: 768px) {
  .first-box-margin {
    margin-bottom: 3.5rem;
  }
}

@media (min-width: 834px) {
  .first-box-margin {
    margin-bottom: 4.7rem;
  }
}

@media (min-width: 1100px) {
  .first-box-margin {
    margin-bottom: 3.5rem;
  }
}

#second-demo-image {
  clip-path: polygon(0 0, 50% 0, 50% 67.6%, 0 67.6%);
}

.box-container {
  @apply container mx-auto max-w-[1230px] px-4 sm:px-7 md:px-5;
}

.feature-box {
  @apply text-white bg-darkGray border-b-2 border-[#2D2D2D] duration-700 transition-all hover:bg-darkGrayLight hover:border-[#3A3A3A];
}

.line-through {
  @apply border-b border-darkGrayLight;
}

.tick {
  @apply relative inline-block w-5 h-5 rounded-full;
}

.tick::before {
  display: block;
  content: '';
  position: absolute;
  left: 45%;
  top: 45%;
  height: 25%;
  width: 0.1rem;
  transform: translateX(-50%) rotate(-45deg);
  transform-origin: left bottom;
  @apply bg-darkGrayLight;
}

.tick::after {
  display: block;
  content: '';
  position: absolute;
  left: 40%;
  top: 35%;
  height: 45%;
  width: 0.1rem;
  transform: translate(-50%, -0.2rem) rotate(45deg);
  transform-origin: left bottom;
  @apply bg-darkGrayLight;
}
